<div class="center hero-unit">
	<h2>Created by Jacob Craig</h2><br>

	<ul style="list-style: none;">
		<li>Phone: 435-590-5180</li>
		<li>Email: <a href="mailto:beakerbite@gmail.com">beakerbite@gmail.com</a></li>
	</ul>
</div>