<div class="center hero-unit">
	<h2>Fake Bank of Southern Utah</h2>

	<p>
		This is the home page for the Fake Bank of Southern Utah.  If you'd like to make an account, please see an administrator. <br/><br/>
		To manage your accounts, please sign in.
	</p>

	<%= link_to "Sign In", signin_path, class: "btn btn-primary" %>
</div>