<div class="row hero-unit">
	<% if current_user.admin? %>
		<h2 style="color: red;">You are currently logged in as an administator</h2><br>
		<h2><%= @user.name %></h2>
	<% else %>
		<h2><%= current_user.name %></h2>
	<% end %>
	<h3>Current Accounts</h3>
	<div>
		<% if @user.accounts.any? %>
			<ol class="accounts">
				<%= render @accounts %>
			</ol>
		<% else %>
			<p>You have no accounts, contact an administator to create a new one.</p>
		<% end %>
		<% if current_user.admin? %>
			<%= link_to 'Make New Account', new_account_path(@user) %>
		<% end %>
	</div>
</div>